.cropper-container {
    width: 100% !important;
    height: 100% !important;
}

#cropperDiv .cropper-container {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#finalCanvas {
    max-width: 100%;
    height: auto;
}

/* Mobile optimization */
@media (max-width: 640px) {
    #cropperDiv {
        padding: 1rem;
    }
} 